* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/fondo.jpg);
    background-position: center;
    background-size: cover;
    font-family: "Poetsen One", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}

h1 {
    text-align: center;
    margin-top: 10px; 
    color: #ffffff;
}

form {
    margin-top: 20px; /* Añade espacio entre el título y el formulario */
    border: 2px solid #ccc;
    padding: 20px;
    width: 400px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

input[type="text"],
select,
textarea {
    width: calc(100% - 22px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 100px;
}

button {
    background-color: #4CAF50;
    color: rgb(250, 178, 178);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.review {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 4px;
}
